body {
    margin: 0;
}

input,
textarea,
button,
select,
a,
span {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.footerMobile {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.leftSide {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-left: 44px;

    font-size: 1.5vw;
    font-family: 'Roboto';
    font-weight: 100;
}

.leftSide a {
    text-decoration: none;
    color: black;
}

.leftSide .active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.rightSide {
    margin-right: 64px;
}
.headBtn {
    font-size: 1.5vw;
    background-color: #74CCCB;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    border: none;
}

.banner {
    margin: 0;
    background-image: url("images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerMobile {
    display: none;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 23vw;
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 2.3vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    font-family: 'Roboto';
    color: white;
    line-height: 1.5vw;
}

.bannerText1 {
    font-size: 1.54vw;
}

.bannerText2 {
    font-size: 1.1vw;
    font-weight: lighter;
    text-decoration: underline;
}

.catMobile {
    display: none;
}

.bannerBtn {
    width: 90%;
    font-family: 'Roboto';
    background-color: #74CCCB;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 1.6vw;
}

.bannerContent p {
    margin-bottom: 2%;
}

.divide {
    width: 50%;
    min-height: 18px;
    background-color: #74CCCB;
}

.info {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
}

.infoText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 64px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 1.2vw;
    border-bottom: 2px solid black;
}

.bold {
    font-weight: bold;
}

.new {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.catalogue {
    min-height: 557.34px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.rectangle {
    position: relative;
    height: 657.34px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(87.63deg, #150548 0.21%, #92294C 54.94%, #ECA461 107.36%);
}

.arrowHolder {
    position: absolute;
    height: 30%;
    width: 120%;
    background: #74CCCB;
    backdrop-filter: blur(100px);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.prev-button,
.next-button {
    font-size: 90px;
}

.slides-container {
    min-height: 30vw;
    width: 386px;
    position: relative;
    overflow: hidden;
}

.dres-imgs{
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slide-image { 
    margin-top: 5%;
    height: 100%;
    width: 25%;
    transition: all .6s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    color: white;
    font-size: 20px;
    
}

.slide-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button {
    cursor: pointer;
    transition: all .4s ease;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    /* opacity: 0.8; */
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.catBtn {
    width: 100%;
    background-color: #74CCCB;
    border: none;

    font-family: 'Roboto';
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    letter-spacing: 0.06em;
    margin-bottom: 32px;
}

footer {
    background-color: #0F0F0E;
    padding: 37px 0px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 64px;
}

.top a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 64px;
    align-items: center;
}

.bottomLeft {
    width: 50%;
    display: flex;
    justify-content: space-between;

    font-family: 'Roboto';
    font-size: 18px;
}
.bottomLeft a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 580px) {
    body {
        overflow-x: hidden;
    }

    .leftSide img {
        width: 120px;
    }
    
    
    .slide-image {
        margin-top: 23%;
    }
    .arrowHolder {
        width: 120%;
        height: 20%;
    }

    footer {
        display: none;
    }

    .footerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #0F0F0E;
        padding: 40px 35px;
    }

    .leftFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .leftFooter a{
        color: white;
        font-family: 'Roboto';
        font-size: 21px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .rightFooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
        width: 20%;
        text-align: right;
    }

    .rightFooter a {
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
    }
}
@media (min-width: 581px) and (max-width: 760px){
    body {
        overflow-x: hidden;
    }
    .slide-image {
        margin-top: 20%;
    }
    .arrowHolder {
        width: 120%;
        height: 20%;
    }

    .leftSide img {
        width: 130px;
    }

    footer {
        display: none;
    }

    .footerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #0F0F0E;
        padding: 40px 35px;
    }

    .leftFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .leftFooter a{
        color: white;
        font-family: 'Roboto';
        font-size: 21px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .rightFooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
        width: 20%;
        text-align: right;
    }

    .rightFooter a {
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
    }
}

@media (min-width: 761px) and (max-width: 900px){
    body {
        overflow-x: hidden;
    }
    .slide-image {
        margin-top: 15%;
    }
    .arrowHolder {
        width: 120%;
        height: 20%;
    }
}

@media (min-width: 901px) and (max-width: 1000px){
    body {
        overflow-x: hidden;
    }
    .slide-image {
        margin-top: 10%;
    }
    .arrowHolder {
        width: 120%;
        height: 30%;
    }
}

@media (min-width: 1001px) and (max-width: 1200px){
    body {
        overflow-x: hidden;
    }
    .slide-image {
        margin-top: 10%;
    }
    .arrowHolder {
        width: 120%;
        height: 30%;
    }
}


@media screen and (min-device-width: 2200px) {

    .rectangle {
        height: 557.34px;
        width: 40%;
        padding-top: 2%;
    }
    /*.rectangle {
        position: relative;
        height: 557.34px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        background: linear-gradient(87.63deg, #150548 0.21%, #92294C 54.94%, #ECA461 107.36%);
    }*/
    

}

@media screen and (min-device-width: 2300px) {
    .rectangle {
        height: 657.34px;
        width: 40%;
    }

    .slides-container {
        margin-top: 7%;
    }
    

    .leftSide {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    
        font-size: 1vw;
        font-family: 'Roboto';
        font-weight: 100;
    }

    .headBtn {
        font-size: 1vw;
    }

    .top {
        font-size: 0.7vw;
    }
    .bottomLeft a {
        font-size: 0.7vw;
    }
}

@media screen and (max-device-width: 480px) {
    .disable-dbl-tap-zoom {
        touch-action: manipulation;
    }
    .banner {
        margin: 0;
        background-image: url("images/bannerMobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 47vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Roboto';
        color: white;
        line-height: 4vw;
    }
    
    .bannerText1 {
        font-size: 32px;
    }
    
    .bannerText2 {
        font-size: 30px;
        font-weight: lighter;
        text-decoration: underline;
    }
    
    .bannerBtn {
        width: 120%;
        font-family: 'Roboto';
        background-color: #74CCCB;
        color: white;
        text-transform: uppercase;
        font-size: 2vw;
        border: none;
        padding: 10px 0;
    }
    
    .bannerContent p {
        margin-bottom: 2%;
    }
    
    .divide {
        display: none;
    }

    .info {
        display: flex;
        width: 100%;
    }

    .catalogue {
        margin: 5% 0px;
    }
    
    .infoText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 64px;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 13px;
        border-bottom: 2px solid black;
    }
    
    .bold {
        font-weight: bold;
    }

    .catBtn {
        display: none;

    }
    
    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Roboto';
        color: white;
        font-size: 2vw;
        text-transform: uppercase;
    
    }

    .catMobile {
        display: inline;
        width: 70%;
        background-color: #74CCCB;
        border: none;

        font-family: 'Roboto';
        text-transform: uppercase;
        color: white;
        font-size: 3vw;
        letter-spacing: 0.06em;
        text-align: center;
        margin-top: 32px;
    }

    header {
        display: none;
    }

    .headerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0px;
        align-items: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 100%;
        z-index: 11;
    }

    .dropdown, .help {
        width: 20%;
    }
    .menu-btn .dropdownContent {
        display: none;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 11;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #111;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 11;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #111;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 11;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .dropdownContent {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 43px;
    
        width: 50vw;
        background-color: #FFFCFB;
        font-family: 'Roboto';
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 11;
    }

    .dropdownContent a {
        padding: 35px 0px;
        font-size: 31px;
        line-height: 21px;
        width: 100%;
        text-align: center;
        z-index: 11;

        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    footer {
        display: none;
    }

    .footerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #0F0F0E;
        padding: 40px 35px;
    }

    .leftFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .leftFooter a{
        color: white;
        font-family: 'Roboto';
        font-size: 21px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .rightFooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
        width: 20%;
        text-align: right;
    }

    .rightFooter a {
        color: white;
        font-family: 'Roboto';
        font-size: 3vw;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 6vw;
    }

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .infoText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 64px;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 1.2vw;
        border-bottom: 2px solid black;
    }

    .slide-image {
        font-size: 2vw;
    
    }

    .catBtn {
        font-size: 24px;
    }

    .leftSide {
        width: 70%;
        font-size: 2vw;
    }
    .headBtn {
        font-size: 1.7vw;
    }

    .top {
        color: white;
        font-size: 2vw;
    }
    

    .bottomLeft {
        width: 60%;
        font-size: 1.7vw;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .infoText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 64px;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 1.2vw;
        border-bottom: 2px solid black;

    }

    .slide-image {
        font-size: 2vw;
    
    }

    .catBtn {
        font-size: 24px;
    }

    .leftSide {
        width: 70%;
        font-size: 2vw;
    }
    .headBtn {
        font-size: 1.7vw;
    }

    .top {
        color: white;
        font-size: 1.7vw;
    }
    

    .bottomLeft {
        width: 60%;
        font-size: 1.7vw;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
    .slide-image {
        font-size: 1.7vw;
    
    }

    .catBtn {
        font-size: 24px;
    }
    /*.rectangle {
        height: 557.34px;
        width: 50%;
    }*/
}

@media screen and (min-device-width: 1201px) and (max-device-width: 2199px) {

    .rectangle {
        height: 557.34px;
        width: 50%;
    }
}